This is the error level made from the combination of the flags in the other panel:

<p class="well">error_reporting({{ errorlevel }});</p>
Or, if you prefer:
<p class="well">error_reporting({{ collated }});</p>
Or even:
<p class="well">error_reporting({{ reverseCollated }});</p>

<div class="form-group">
	If you like, you can put a number in here and the flags will change to reflect it.<br/>
	<input type="text" name="level">&nbsp;
	<button type="submit" class="btn btn-primary" id="sub">Update</button>
	<br/>
	<br/>
	Or you can just play with the checkboxes in the other panel and see what effect it has on the number above.
</div>
