<!DOCTYPE html>
<html>
	<head>
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen" />
		<link href="css/local.css" rel="stylesheet" media="screen" />
		<title>Garp's error_reporting helper tool thing</title>
		{% block CSS %}
<!-- EFJEWOJFEFMLSDLF -->
		{% endblock %}
	</head>
	<body class="container-fluid">
		<div class="container">
			{% spaceless %}
			{% block content %}

			{% endblock %}
			{% endspaceless %}
		</div>

		<script src="/js/jquery-1.9.1.min.js"></script>
		<script src="/js/cookie.js"></script>
		<script src="/js/tooltip.js"></script>
	</body>
</html>
